:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --page-background-color: #FFF1F7;
  --header-tittle-color: #FFC2E6;
  --header-tittle-shadow-color: #FF8DCB;
  --title-accent-color: #353430;
  --title-no-accent-color: #353430;
  --title-accent-background: #FF8DCB;
  --main-text-color: #353430;
  --main-text-link-color: #FF8DCB;
  --decorated-zone-color: #353430;
  --decorated-zone-color-hover: rgba(53, 52, 48, 0.4);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --page-background-image: url(../images/cover-image-light.png);
  --page-background-color: #FFF1F7;
  --header-tittle-color: #FFC2E6;
  --header-tittle-shadow-color: #FF8DCB;
  --title-accent-color: #353430;
  --title-no-accent-color: #353430;
  --title-accent-background: #FF8DCB;
  --main-text-color: #353430;
  --main-text-link-color: #FF8DCB;
  --decorated-zone-color: #353430;
  --decorated-zone-color-hover: rgba(53, 52, 48, 0.4);
  }

  .rec {
  display: none;
  }
}